certifi==2019.11.28
click==7.1.1
Cython==0.29.15
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
MarkupSafe==1.1.1
numpy==1.18.2
pandas==1.0.3
patsy==0.5.1
pmdarima==1.5.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
statsmodels==0.11.1
urllib3==1.25.8
Werkzeug==1.0.0
